version: '3'
services:
  rabbitmq:
    container_name: 'rabbitmq'
    image: 'rabbitmq:4.1.8-management'
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: 'user'
      RABBITMQ_DEFAULT_PASS: 'password'
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  postgres:
    container_name: 'postgres'
    image: 'postgres:16-alpine'
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'yobaedb'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    container_name: 'mongodb'
    image: 'arm64v8/mongo:6.0'
    platform: 'linux/arm64/v8'
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db

  redis:
    container_name: 'redis'
    image: 'redis:7-alpine'
    ports:
      - '6379:6379'
    restart: always
    volumes:
      - redis_data:/data
volumes:
  rabbitmq_data:
  postgres_data:
  mongodb_data:
  redis_data:
